{% extends 'base.html' %}
{% block content %}
<section class="section">
    <div class="container">
      <h1 class="title">
          Welcome to FooterZ
      </h1>
    </div>
  </br>
    <div class="buttons1">
      {% if user.is_authenticated %}
      <a class="button is-primary" href="{% url 'logout' %}">
        Logout
      </a>
      {% else %}
      <a class="button is-primary" href="{% url 'signup' %}">
        Sign up
      </a>
      <a class="button is-primary" href="{% url 'login' %}">
        Log in
      </a>
      {% endif %}
    </div>
</section>

{% endblock %}