body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: rgb(211, 211, 211);

}
  
main {
  flex: 1 0 auto;
}

.footer {
  max-height: 20px !important;
  padding: 2rem;
  text-align: right;
  background-color: rgb(251, 255, 36);
}
.navbar {
  background-color: rgb(251, 255, 36);
}
#FormSubBtn {
  align-items: center;
  align-content: center;
  text-align: center !important;
}