{% extends 'base.html' %}
{% block content %}

<section class="section">
  <div class="container">
  </br> 
  <h1 class="title">Sneakers List</h1>

{% for sneakers in sneakers %}
  <div class="card">
  <a href="{% url 'detail' sneakers.id %}">
    <div class="card-content">
      <span class="card-title">{{ sneakers.name }}</span>
      <p>Brand: {{ sneakers.brand }}</p>
      <p>Description: {{ sneakers.description }}</p>
      <p>Colorway: {{  sneakers.colorway }}</p>
      <p>Year: {{  sneakers.year }}</p>
    </div>
    </a>
  </div>
{% endfor %}

{% endblock %}